In [1]:
import pandas as pd
import numpy as np
import csv as csv
import math
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report, accuracy_score
from sklearn.cross_validation import train_test_split
import time
import time
from datetime import date
import datetime

%matplotlib inline

In [2]:
train_df = pd.read_csv('../hackerrank-predict-email-opens-dataset/training_dataset.csv/training_dataset.csv', header=0)  
train_df.head()

,user_id,mail_id,mail_category,mail_type,sent_time,open_time,click_time,unsubscribe_time,last_online,hacker_created_at,...,submissions_count_contest_1_days,submissions_count_contest_30_days,submissions_count_contest_365_days,submissions_count_contest_7_days,submissions_count_master,submissions_count_master_1_days,submissions_count_master_30_days,submissions_count_master_365_days,submissions_count_master_7_days,unsubscribed
0,AR+tMy3H/E+Re8Id20zUIz+amJkv6KU12o+BrgIDin0=,DQ/4I+GIOz2ZoIiK0Lg0AkwnI35XotghgUK/MYc101I=,mail_category_2,mail_type_1,1463497837,1.463541e+09,NaN,NaN,1.459520e+09,1432533023,...,0,0,0,0,13,0,0,13,0,False
1,1P4AOvdzJzhDSHi7jJ3udWv4ajpKxOn4T/rCLv4PrXU=,BL3z4RtiyfIDydaRYWX2ZXL6IX10QH1yG5ak1s/8Lls=,mail_category_1,mail_type_1,1461357640,NaN,NaN,NaN,1.461210e+09,1432184291,...,0,3,16,0,83,0,43,83,4,False
2,OEfFUcsTAGInCfsHuLZuIgdSNtuNsg8EdfN98VUZVTs=,BL3z4RtiyfIDydaRYWX2ZXL6IX10QH1yG5ak1s/8Lls=,mail_category_1,mail_type_1,1463499639,NaN,NaN,NaN,1.463411e+09,1433045937,...,0,0,0,0,16,0,3,16,0,False
3,1P4AOvdzJzhDSHi7jJ3udWv4ajpKxOn4T/rCLv4PrXU=,EHNBRbi6i9KO6cMHsuDPFjZVp2cY3RH+BiOKwPwzLQs=,mail_category_1,mail_type_1,1463182983,NaN,NaN,NaN,1.462768e+09,1432184291,...,0,0,16,0,85,0,9,85,0,False
4,CYRcuV0cR0algMZJ1N6+3uKcqi8iu+6tJNzmBbmgN7o=,K0y/NW59TJkYc5y0HUwDeAXrewYT0JQlkcozz0s2V5Q=,mail_category_4,mail_type_1,1461855019,NaN,NaN,NaN,1.461248e+09,1432998058,...,0,1,17,0,43,0,0,43,0,False

HOW CONVERT CATEGORICAL VALUES IN NUMERICAL
---------

#### GET HOW MANY CATEGORICAL VALUES IS AVAILABLE IN YOUR DATABASE

In [3]:
np.unique(train_df['mail_category'].values)

C:\Users\alvaro.joao.silvino\AppData\Local\Continuum\Anaconda2\lib\site-packages\numpy\lib\arraysetops.py:200: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

array([nan, 'mail_category_1', 'mail_category_10', 'mail_category_11',
       'mail_category_12', 'mail_category_13', 'mail_category_14',
       'mail_category_15', 'mail_category_16', 'mail_category_17',
       'mail_category_18', 'mail_category_2', 'mail_category_3',
       'mail_category_4', 'mail_category_5', 'mail_category_6',
       'mail_category_7', 'mail_category_8', 'mail_category_9'], dtype=object)

## 1 - GET DUMMIES

In [4]:
dummiesMail_category =  pd.get_dummies(train_df.mail_category,prefix='col')
dummiesMail_category.head()

,col_mail_category_1,col_mail_category_10,col_mail_category_11,col_mail_category_12,col_mail_category_13,col_mail_category_14,col_mail_category_15,col_mail_category_16,col_mail_category_17,col_mail_category_18,col_mail_category_2,col_mail_category_3,col_mail_category_4,col_mail_category_5,col_mail_category_6,col_mail_category_7,col_mail_category_8,col_mail_category_9
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

### Concate to original DataFrame

In [5]:
train_dfWithDummies = pd.concat([train_df, dummiesMail_category], axis=1)
train_dfWithDummies.head()

,user_id,mail_id,mail_category,mail_type,sent_time,open_time,click_time,unsubscribe_time,last_online,hacker_created_at,...,col_mail_category_17,col_mail_category_18,col_mail_category_2,col_mail_category_3,col_mail_category_4,col_mail_category_5,col_mail_category_6,col_mail_category_7,col_mail_category_8,col_mail_category_9
0,AR+tMy3H/E+Re8Id20zUIz+amJkv6KU12o+BrgIDin0=,DQ/4I+GIOz2ZoIiK0Lg0AkwnI35XotghgUK/MYc101I=,mail_category_2,mail_type_1,1463497837,1.463541e+09,NaN,NaN,1.459520e+09,1432533023,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1P4AOvdzJzhDSHi7jJ3udWv4ajpKxOn4T/rCLv4PrXU=,BL3z4RtiyfIDydaRYWX2ZXL6IX10QH1yG5ak1s/8Lls=,mail_category_1,mail_type_1,1461357640,NaN,NaN,NaN,1.461210e+09,1432184291,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,OEfFUcsTAGInCfsHuLZuIgdSNtuNsg8EdfN98VUZVTs=,BL3z4RtiyfIDydaRYWX2ZXL6IX10QH1yG5ak1s/8Lls=,mail_category_1,mail_type_1,1463499639,NaN,NaN,NaN,1.463411e+09,1433045937,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1P4AOvdzJzhDSHi7jJ3udWv4ajpKxOn4T/rCLv4PrXU=,EHNBRbi6i9KO6cMHsuDPFjZVp2cY3RH+BiOKwPwzLQs=,mail_category_1,mail_type_1,1463182983,NaN,NaN,NaN,1.462768e+09,1432184291,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,CYRcuV0cR0algMZJ1N6+3uKcqi8iu+6tJNzmBbmgN7o=,K0y/NW59TJkYc5y0HUwDeAXrewYT0JQlkcozz0s2V5Q=,mail_category_4,mail_type_1,1461855019,NaN,NaN,NaN,1.461248e+09,1432998058,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

**
When you need to group by an ID and a categorical Value forming a unique table with no reapeting element <br/>
the column 'Times' represent the number of times the ID and the categorical value shows
**

In [7]:
groupAndDummy = train_df.groupby(["user_id","mail_category"]).size().reset_index(name="Times")\
        .pivot(index='user_id', columns='mail_category', values='Times').reset_index()#.drop(["user_id"],axis=1)
# groupAndDummy.index.names = ["DummiesUniqueById"]
groupAndDummy.columns.name="DummiesUniqueById"
print groupAndDummy.shape
groupAndDummy.head()

(30535, 19)

DummiesUniqueById,user_id,mail_category_1,mail_category_10,mail_category_11,mail_category_12,mail_category_13,mail_category_14,mail_category_15,mail_category_16,mail_category_17,mail_category_18,mail_category_2,mail_category_3,mail_category_4,mail_category_5,mail_category_6,mail_category_7,mail_category_8,mail_category_9
0,++++AlrUVbE5PINY7DbtKaSSWKVBd1irRDUEQazAlB0=,4.0,1.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,1.0,5.0,3.0,NaN,1.0,2.0,1.0,NaN
1,++E9b50RAFVUBx06HLYizCphGFSdewHiJ6O7R8dkb0w=,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,2.0,NaN,NaN
2,++VKdjPb2qYO+KV9T2r+wcFpg+Fz2B0ZlxO2KtCUQ24=,1.0,1.0,1.0,NaN,NaN,NaN,10.0,1.0,NaN,NaN,NaN,1.0,1.0,1.0,NaN,1.0,NaN,NaN
3,++Xam77eQwNSqOVgGAJufeNYduq3iqIRyvSuQATtoss=,11.0,1.0,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,NaN,6.0,4.0,NaN,NaN,1.0,NaN,NaN
4,++Zro4xLyeHDkcH0IrRRbpKek4twNACxWd40pdCM/rc=,10.0,1.0,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,5.0,2.0,NaN,1.0,1.0,NaN,1.0

## 2 - TRANSFORM INTO VALUE

In [8]:
dict_mail_category = dict([ (k,v) for v,k in enumerate(np.unique(train_df['mail_category'].values))])
dict_mail_category

{nan: 0,
 'mail_category_1': 1,
 'mail_category_10': 2,
 'mail_category_11': 3,
 'mail_category_12': 4,
 'mail_category_13': 5,
 'mail_category_14': 6,
 'mail_category_15': 7,
 'mail_category_16': 8,
 'mail_category_17': 9,
 'mail_category_18': 10,
 'mail_category_2': 11,
 'mail_category_3': 12,
 'mail_category_4': 13,
 'mail_category_5': 14,
 'mail_category_6': 15,
 'mail_category_7': 16,
 'mail_category_8': 17,
 'mail_category_9': 18}

In [9]:
train_df_mail_category_with_values = train_df['mail_category'].map(lambda x:dict_mail_category[x])
train_df_mail_category_with_values.head()

0    11
1     1
2     1
3     1
4    13
Name: mail_category, dtype: int64

### Alter the categorical to values into the main Data Frame

In [10]:
train_df['mail_category'] = train_df['mail_category'].map(lambda x:dict_mail_category[x])
train_df.head()

,user_id,mail_id,mail_category,mail_type,sent_time,open_time,click_time,unsubscribe_time,last_online,hacker_created_at,...,submissions_count_contest_1_days,submissions_count_contest_30_days,submissions_count_contest_365_days,submissions_count_contest_7_days,submissions_count_master,submissions_count_master_1_days,submissions_count_master_30_days,submissions_count_master_365_days,submissions_count_master_7_days,unsubscribed
0,AR+tMy3H/E+Re8Id20zUIz+amJkv6KU12o+BrgIDin0=,DQ/4I+GIOz2ZoIiK0Lg0AkwnI35XotghgUK/MYc101I=,11,mail_type_1,1463497837,1.463541e+09,NaN,NaN,1.459520e+09,1432533023,...,0,0,0,0,13,0,0,13,0,False
1,1P4AOvdzJzhDSHi7jJ3udWv4ajpKxOn4T/rCLv4PrXU=,BL3z4RtiyfIDydaRYWX2ZXL6IX10QH1yG5ak1s/8Lls=,1,mail_type_1,1461357640,NaN,NaN,NaN,1.461210e+09,1432184291,...,0,3,16,0,83,0,43,83,4,False
2,OEfFUcsTAGInCfsHuLZuIgdSNtuNsg8EdfN98VUZVTs=,BL3z4RtiyfIDydaRYWX2ZXL6IX10QH1yG5ak1s/8Lls=,1,mail_type_1,1463499639,NaN,NaN,NaN,1.463411e+09,1433045937,...,0,0,0,0,16,0,3,16,0,False
3,1P4AOvdzJzhDSHi7jJ3udWv4ajpKxOn4T/rCLv4PrXU=,EHNBRbi6i9KO6cMHsuDPFjZVp2cY3RH+BiOKwPwzLQs=,1,mail_type_1,1463182983,NaN,NaN,NaN,1.462768e+09,1432184291,...,0,0,16,0,85,0,9,85,0,False
4,CYRcuV0cR0algMZJ1N6+3uKcqi8iu+6tJNzmBbmgN7o=,K0y/NW59TJkYc5y0HUwDeAXrewYT0JQlkcozz0s2V5Q=,13,mail_type_1,1461855019,NaN,NaN,NaN,1.461248e+09,1432998058,...,0,1,17,0,43,0,0,43,0,False